.header {
    padding: 24px 40px 0;

    &-container {
        height: 80px;
        background-color: #00000099;
        border-radius: 80px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 100px;
        height: 80px;
        background-image: url('../../../../images/logo-rikkei.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-offices{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% - 120px);

        &-link {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #bb2327;
            }
        }
    }
}
